<!DOCTYPE: HTML>
<html lang="en-us">
    <head>
                <title>Calc.js | Temperature</title>
        
        <!-----------------Browser and mobile compatible--------------->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--------------------SEO and Descriptions------------------->
        <meta name="description" content="# tydyedesign.github.io
                This is for learning HTML5, CSS3, and JavaScript; to demonstrate personal skill in JavaScript and provide easy ways to calculate.
                Brigham Young University-Idaho, BYU-Idaho, CIT230, CIT 230, CIT160">
        <meta name="keywords" content="BYUI, CIT230, CIT, frontend web development, tyler tucker, tydye design, javascript calculator, github, unit converter, unit calculator">
        <meta name="author" content="Tyler Tucker, TyDyeDesign">
        
        <!---------------------Mobile App Tags----------------------->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <meta name="viewport" content="user-scalable=no, width=device-width" />
        <link rel="apple-touch-startup-image" href="calculatoricon.png" />
        
        <link rel="shortcut icon" type="image/x-icon" href="calculatoricon.png">
        <link rel="apple-touch-icon" href="calculatoricon.png" />
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <!---------------Stylesheets, CDNs, Script Tags--------------->
        
        <link rel="stylesheet" href="main.css">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
    </head>
    <body>
        <div class="pagecontainer">
            <div class="card-8" id="tempmain">
    <header id="tempmain">
        <div id="backbtn">
            <a href="unitpick.html"><button class="w3-button w3-black">Back</button></a>
        </div>
        <div id="homebtn">
            <a href="index.html"><button class="w3-button w3-black">Home</button></a>
        </div>
                
        <div id="weighttitle">
        <h1>Temperature <i class="fa fa-thermometer-full"></i></h1>
        </div>
            <hr>
    </header>
                
        <main ng-app="temperatureApp" ng-controller="myCtrl">
                
            <div id="conversionbox" class="w3-container w3-red">
            
                <h3><u>Farenheit to Celsius</u></h3>
                <span class="highlight">{{ equation }}</span>
                <br>

                <br>
                
                Farenheit Temperature: <input type="text" ng-model="farenheit"><br><br>
                Temperature in Celsius: <h3>{{(farenheit - 32) * (5/9) | number:2}}</h3>
                
                <hr>
                
                <h3><u>Celsius to Farenheit</u></h3>
                <span class="highlight">{{ equation2 }}</span><br><br>
                Celsius Temperature <input type="text" ng-model="celsius"><br><br>
                Temperature in Farenheit: <h3>{{(celsius * 1.8) + 32 | number:2}}</h3>
                
            </div>
            
        </main>

            </div>
        </div>
    </body>

<script>
var app = angular.module('temperatureApp', []);
app.controller('myCtrl', function($scope) {
    $scope.farenheit= "32";
    $scope.celsius= "0";
    $scope.equation= "Celsius = (5 / 9) * (farenheit - 32) ";
    $scope.equation2= "Fahrenheit = (Celsius * 1.8) + 32";
    
    $scope.ounces= "";
    $scope.grams= "";
    $scope.ounceequation= "1 oz = 28.3495 grams";
    $scope.gramequation= "1 gram = 0.035274 oz";
});
</script>

</html>