<div id="conversionbox" class="w3-container w3-red">
            <h3>Farenheit/Celsius</h3>
<!--                <span class="highlight">{{ equation }}</span>-->
                <br>

                <br>
                
                Farenheit <input type="text" ng-model="farenheit"><br><br>
                Celsius <h3>{{(farenheit - 32) * (5/9) | number:2}}</h3>
    
                Celsius <input type="text" ng-model="celsius"><br><br>
                Farenheit <h3>{{(farenheit - 32) * (5/9) | number:2}}</h3>
                
                <hr>
                
                <span class="highlight">{{ equation2 }}</span><br><br>
                Celsius <input type="text" ng-model="celsius"><br><br>
                Farenheit <h3>{{(celsius * 1.8) + 32 | number:2}}</h3>
                
            </div>

<div id="conversionbox" class="w3-container w3-red">
            <h3>Farenheit/Kelvin</h3>
<!--                <span class="highlight">{{ equation }}</span>-->
                <br>

                <br>
                
                Farenheit <input type="text" ng-model="farenheit"><br><br>
                Kelvin <h3>{{((farenheit - 32) * (5/9)) + 273.15 | number:2}}</h3>
                
                <hr>
                
                <span class="highlight">{{ equation2 }}</span><br><br>
                Celsius <input type="text" ng-model="celsius"><br><br>
                Farenheit <h3>{{(celsius * 1.8) + 32 | number:2}}</h3>
                
            </div>

<!--
<div id="conversionbox" class="w3-container w3-red">
            <h3>Celsius/Kelvin</h3>
                <span class="highlight">{{ equation }}</span>
                <br>

                <br>
                
                Celsius <input type="text" ng-model="celsius"><br><br>
                Kelvin <h3>{{ celsius + 273.15 | number:2}}</h3>
                
                <hr>
                
                <span class="highlight">{{ equation2 }}</span><br><br>
                Celsius <input type="text" ng-model="celsius"><br><br>
                Farenheit <h3>{{(celsius * 1.8) + 32 | number:2}}</h3>
                
            </div>-->
